USE [master]
GO
/****** Object:  Database [Недвижимость]    Script Date: 20.05.2026 16:56:39 ******/
CREATE DATABASE [Недвижимость]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Недвижимость', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Недвижимость.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Недвижимость_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Недвижимость_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Недвижимость].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Недвижимость]
GO
/****** Object:  Table [dbo].[Заявки]    Script Date: 20.05.2026 16:56:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Заявки](
	[Ид] [int] IDENTITY(1,1) NOT NULL,
	[ИдКлиента] [int] NULL,
	[ИдОбъекта] [int] NULL,
	[ДатаСоздания] [datetime] NULL,
	[Обработано] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Ид] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Клиенты]    Script Date: 20.05.2026 16:56:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Клиенты](
	[Ид] [int] IDENTITY(1,1) NOT NULL,
	[ПолноеИмя] [nvarchar](255) NULL,
	[КонтактТелефон] [nvarchar](20) NULL,
	[ЭлПочта] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Ид] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ОбъектыНедвижимости]    Script Date: 20.05.2026 16:56:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ОбъектыНедвижимости](
	[Ид] [int] IDENTITY(1,1) NOT NULL,
	[Адрес] [nvarchar](255) NULL,
	[Площадь] [float] NULL,
	[Цена] [money] NULL,
	[Тип] [nvarchar](50) NULL,
	[Расположение] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Ид] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Заявки] ON 

INSERT [dbo].[Заявки] ([Ид], [ИдКлиента], [ИдОбъекта], [ДатаСоздания], [Обработано]) VALUES (1, 1, 1, CAST(N'2026-04-08T14:09:11.667' AS DateTime), 0)
INSERT [dbo].[Заявки] ([Ид], [ИдКлиента], [ИдОбъекта], [ДатаСоздания], [Обработано]) VALUES (2, 2, 2, CAST(N'2026-04-08T14:09:11.670' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[Заявки] OFF
GO
SET IDENTITY_INSERT [dbo].[Клиенты] ON 

INSERT [dbo].[Клиенты] ([Ид], [ПолноеИмя], [КонтактТелефон], [ЭлПочта]) VALUES (1, N'Иван Иванов', N'+79991234567', N'ivan@example.com')
INSERT [dbo].[Клиенты] ([Ид], [ПолноеИмя], [КонтактТелефон], [ЭлПочта]) VALUES (2, N'Анна Смирнова', N'+79997654321', N'anna@example.com')
SET IDENTITY_INSERT [dbo].[Клиенты] OFF
GO
SET IDENTITY_INSERT [dbo].[ОбъектыНедвижимости] ON 

INSERT [dbo].[ОбъектыНедвижимости] ([Ид], [Адрес], [Площадь], [Цена], [Тип], [Расположение]) VALUES (1, N'ул. Ленина, 10', 100, 5000000.0000, N'Квартира', N'Москва')
INSERT [dbo].[ОбъектыНедвижимости] ([Ид], [Адрес], [Площадь], [Цена], [Тип], [Расположение]) VALUES (2, N'ул. Пушкина, 5', 150, 7000000.0000, N'Дом', N'Санкт-Петербург')
SET IDENTITY_INSERT [dbo].[ОбъектыНедвижимости] OFF
GO
ALTER TABLE [dbo].[Заявки] ADD  DEFAULT (getdate()) FOR [ДатаСоздания]
GO
ALTER TABLE [dbo].[Заявки] ADD  DEFAULT ((0)) FOR [Обработано]
GO
ALTER TABLE [dbo].[Заявки]  WITH CHECK ADD FOREIGN KEY([ИдКлиента])
REFERENCES [dbo].[Клиенты] ([Ид])
GO
ALTER TABLE [dbo].[Заявки]  WITH CHECK ADD FOREIGN KEY([ИдОбъекта])
REFERENCES [dbo].[ОбъектыНедвижимости] ([Ид])
GO
USE [master]
GO
